<%- include ('../../partials/header.ejs') %>  
<body>
    <%- include ('../../partials/navbar.ejs') %>  
    
    <div class="container">

        <div class="card mt-5 mb-3">
            <div class="card-header">
                <h2 class="">Cadastro de Categoria</h2>
            </div>
            <div class="card-body">
                <form action="/categories/save" method="POST">
                    <input value="" name="title" type="text" class="form-control" placeholder="Defina o Titulo da categoria">
                    <button class="btn btn-primary mt-3">Cadastrar</button>
                </form>
            </div>
        </div>

        

    </div>



</body>
<%- include ('../../partials/footer.ejs') %>  